a{
  text-decoration: none;
  color:rgb(182, 155, 155)
}
a:hover{
  color: rgb(28, 28, 190);
}
#frontlink{
  color: orangered;
  text-decoration: none;
  padding-left: 450px;
}

#navs{
  float: right;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.middle{
  background-color: rgb(235, 252, 250);
}

h1,h5{
  color:rgb(5, 5, 94);
  padding-left: 60px;
 
}
 h1{
   font-size: 54px;
   font-weight: bolder;
 }

 h5{
   padding-bottom: 10px;
 }